* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    text-align: center;
    margin: 1rem auto;
    border-radius: 4px;
    background-color: steelblue;
    padding: 15px;
    width: 30%;
}

h1 {
    text-align: center;
    margin: 1rem auto;
    border: 1px solid black;
    background-color: navy;
    width: 60%;
    color: white;
}


input[type=submit] {
    border-radius: 4px;
    background-color: yellow;
    margin-top: 0.5rem;
}

input[type=submit]:hover {
    background-color: red;
    transition: 0.3s ease-in-out;
}

label {
    color: white;
}